# Installs as /etc/systemd/system/moltengamepad.service.

[Unit]
Description=MoltenGamepad Event Translator

[Service]
User=gamepad
Group=gamepad
Type=forking
PIDFile=/run/moltengamepad/pid
ExecStart=/usr/local/bin/moltengamepad \
 --daemon --pidfile /run/moltengamepad/pid \
 --replace-fifo --fifo-path /run/moltengamepad/fifo \
 --make-socket --socket-path /run/moltengamepad/socket
ExecStop=/usr/bin/kill $MAINPID
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=default.target
