# udev rules for system-wide MoltenGamepad.
# Installs as 72-moltengamepad.rules.

# Allow gamepad user access to uinput.
KERNEL=="uinput",  GROUP:="gamepad", OPTIONS+="static_node=uinput"

# Virtual gamepad devices should be world-usable.
SUBSYSTEM=="input", ACTION=="add", ATTRS{phys}=="moltengamepad*", \
 ENV{ID_INPUT_JOYSTICK}=="?*", \
 OWNER:="gamepad", GROUP:="input", MODE:="0666"

# When a non-virtual gamepad device appears, hide it.
SUBSYSTEM=="input", ACTION=="add", \
 ENV{ID_INPUT_JOYSTICK}=="?*", ATTRS{phys}!="moltengamepad*", \
 OWNER:="gamepad", GROUP:="gamepad", MODE:="0600", \
 TAG-="uaccess", TAG-="seat"

# Wiimote rules, as they do not match ID_INPUT_JOYSTICK.
SUBSYSTEM=="leds", ACTION=="add", DRIVERS=="wiimote", \
 RUN+="/bin/sh -c 'chgrp gamepad /sys%p/brightness'", \
 RUN+="/bin/sh -c 'chmod g+w /sys%p/brightness'"

SUBSYSTEM=="input", DRIVERS=="wiimote", \
 OWNER:="gamepad", GROUP:="gamepad", MODE:="0600", \
 TAG-="uaccess", TAG-="seat"

 
# JoyCon rules. Bluetooth hidraw requires globbing to find the vendor/product ids...

# Nintendo products over bluetooth hidraw
KERNEL=="hidraw*", KERNELS=="0005:057E:*.*", MODE="0600", OWNER:="gamepad", GROUP:="gamepad", TAG-="uaccess"
